main {
  background-color: #061f3b;
  padding: 20px;
  color: #d5d5d5;
}

.slider-container {
  overflow: hidden;
}

.slider-content {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease;
}

.slider-item {
  flex-shrink: 0;
  width: 264px;
  height: 254px;
  background-color: #05192f;
}

.slider-item img {
  width: 100%;
}

.slider-item a {
  color: #d5d5d5;
}

.slider-item p {
  font-size: 12px;
  color: #4f565e;
  font-weight: 600;
  margin: 6px 0;
}

.card-more {
  padding: 0 20px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100%;
}

.card-details h3 {
  margin: 5px 0 0 0;
  font-size: 14px;
  font-weight: 900;
}
