body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: #d5d5d5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-bar a {
  text-decoration: none;
  color: #d5d5d5;
}

.nav-bar .nav-btn {
  background-color: black;
  color: #d5d5d5;
  padding: 8px 30px;
  border: 2px solid #607790;
  border-radius: 15px;
}

.navigation {
  display: flex;
  width: 500px;
  justify-content: space-between;
  list-style-type: none;
}

.main {
  background-color: #262f3f;
  color: white;
  height: 50vh;
  margin-top: 67px;
  padding-top: 60px;
  padding-left: 180px;
  padding-bottom: 40px;
}

.main h1 {
  font-size: 3em;
  margin: 0;
  width: 661px;
}

.main p {
  width: 665px;
  font-size: 14px;
}

.main .main-btn {
  background-color: black;
  color: white;
  border: 2px solid #c38b30;
  padding: 18px 40px;
  border-radius: 30px;
}

footer {
  background-color: #02142f;
  color: white;
}

.footer {
  display: flex;
  padding: 50px 50px 0;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  display: flex;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  margin: 10px;
}

.footer h1 {
  font-size: 3em;
  margin: 0;
  width: 100px;
}

.footer-btn {
  background-color: black;
  color: white;
}

.footer-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-2 hr {
  width: 500px;
  height: 2px;
  border: none;
  background-color: #0b5aa6;
  margin-left: 150px;
}

.footer-2p {
  display: flex;
  font-size: 0.8em;
}

.footer-2p p {
  margin-left: 30px;
}

.footer p {
  font-size: 10rem;
  margin-right: 80px;
}

main {
  background-color: #061f3b;
  padding: 20px;
  color: #d5d5d5;
}

.trending {
  display: flex;
  justify-content: space-around;
}

.card-trending {
  background-color: #05192f;
  margin: 20px;
  width: 260px;

}

.card-trending img {
  width: 100%;
  height: 168px;
}

.trend-detail {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
}

.trend-btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 50%;
}

.card-collection img {
  width: 150px;
  height: 230px;
}

.collections {
  display: flex;
  gap: 10px;
}

.card-collection {
  font-size: 12px;
}
